body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div#sea{
  height: 6em;
  
}

div#tom{

width: 100%;
display: -webkit-inline-flex;
display: inline-flex;
-webkit-justify-content: center;
justify-content: flex-end;
-webkit-flex-direction: row;
flex-direction: row;
align-items: center;
transform: translateX(720px);
transform: translate(769px,26px);




}

h3{
  padding: 1rem;
}

main{
  min-height: 80vh;
}
.raiting span{
  margin: 0.1rem;
}
h1{
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2{
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h4 {
  color: #fff;
}


.carousel img {
  display:block;
  height: 300px;
  padding: 30px;
  margin: 40px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

.carousel a {
  margin: 0 auto;
}


@media (max-width: 900px) {
  .carousel-caption h2 {
    font-size: 2.5vw;
  }
}

